body {
    background-color: lightgray;
}

.navbar-brand {
    font-size: 30px;
}

.container {
    background-color: snow;
    margin: 20px auto;
    padding: 50px;
}

h1 {
    margin-bottom: 50px;
}