body {
    background-color: lightgray;
}

.navbar-brand {
    font-size: 30px;
}

.container {
    background-color: snow;
    max-width: 800px;
    margin: 20px auto;
    padding: 50px;
}

h1 {
    margin-bottom: 50px;
}

img {
    
}

p {
    margin-top: 20px;
}

#social {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}